h1{
	background-color:yellow;
	padding:10px 40px;
	border-top:4px solid green;
	border-bottom:4px solid green;
	
	
	margin:50px; /* kutu 50 pixel(daha icerden) soldan sagdan asagidan ustten baslar */
	
	margin:0px; /*etiketler birlesir */
	
	margin-top:10px;
	margin-left:30px;
	margin-bottom:60px;
	margin-right:100px; /* tek satirdada yyazilabilir margin:10px 30px 60px 100px top right bottom left; /* 
	
}

/* body{
	margin:0px;
	padding:0px; 
	/*iyice birlesir kenarda bile bosluk kalmaz 
	
	
	
} */